[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flexx = "*"
cryptography = "*"
pscript = "*"
filesplit = "*"
gevent = "*"
jinja2 = "*"
tinydb = "*"
hypercorn = {extras = ["h3"],version = "*"}
quart = "*"
torpy = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
async-timeout = "*"
httpx = {extras = ["brotli", "http2"],version = "*"}
bsdiff4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
